.watch_wrep {
  position: fixed;
  top: 100px;
  left: 70px;
  width: 500px;
  height: 200px;
  padding: 8px;
  font-size: 48px;
  line-height: 64px;
  color: white;
  border-radius: 5px;
  background-color: rgba(0,0,0,0.4);
  z-index: 3;
}

.times_wrep span {
  display: inline-block;
  margin-bottom: 10px;
}

.times_wrep span:nth-child(odd) {
  width: 65px;
}

.times_wrep span:nth-child(even) {
  width: 25px;
  height: 75px;
}

.times_wrep {
  display: flex;
  align-items: center;
  width: 245px;
  margin: 0 auto;
}

.greetings {
  font-size: 36px;
  line-height: 32px;
  margin: 10px auto;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

.date_wrep {
  height: 45px;
  margin: 0;
  margin-bottom: 10px;
  font-size: 32px;
  line-height: 24px;
  letter-spacing: 3px;
}